*{
    margin:0;
    padding:0;
}
.sky{
    width:100vw;
    height:100vh;
    background-image: url(background.png);
    background-repeat: no-repeat;
    background-size: cover;
    position:absolute;
}
.tree{
    height:100vh;
    width: 100%;
    background-image: url(trees.png);
    background-repeat: no-repeat;
    background-size: cover;
    position: absolute;
    top: -144px;
}
.track{
    background-image: url(track.png);
    background-repeat: repeat-x;
    position:absolute;
    bottom:0px;
    width:1000vw;
    height:20vh;
    animation:trackanimation 6s linear infinite;
}
.car{
    background-image: url(car_body.png);
    background-repeat: no-repeat;
    background-size: cover;
    width: 17rem;
    height:4.699rem;
    position:absolute;
    bottom:77px;
    left:396px;
}
.wheel{
    position:absolute;
    animation: wheelanimation linear 6s infinite;

}
.wheel1{
    background-image: url(car_wheel_left.png);
    background-repeat: no-repeat;
    background-size: contain;  
    width:46px;
    height: 49px;
    bottom: 71px;
    left:570px;
}
.wheel2{
    background-image: url(car_wheel_right.png);
    background-repeat: no-repeat;
    background-size: contain;  
    width:43px;
    height: 44px;
    bottom: 77px;
    left:433px;
}
@keyframes wheelanimation {
    100%{
        transform:rotate(360deg);
    }
}
@keyframes trackanimation{
    100%{
        transform:translate(-500vw);
    }
}